.controller{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  
}

.sizeSlider{
  width : 100%;
  height: 100%;
}

body{
    margin: 0px;
}

